.dataEntryLabel {
  color: green;
}

.dataEntryChildren {
  padding: 14px 10px;
  margin: 5px;
  font-size: 0.9rem;
  background-color: rgb(241, 241, 241);
  color: rgba(15, 15, 15, 0.986);
  line-height: 1rem;
}
