.formText_submit--form-text,
.formText_reset--form-text,
.formEmail_submit--form-email,
.formEmail_reset--form-email,
.formPassword_submit--form-password,
.formPassword_reset--form-password,
.formCheckbox_submit--form-checkbox,
.formText_submit--form-vin,
.formText_reset--form-vin{
    display:none;
}
.formText_input--form-text,
.formPassword_input--form-password,
.formConfirmpassword_input--form-confirmpassword
{
    width: 95%;
    height: 40px;
    margin-bottom: 10px;
}
.formEmail_input--form-email,
.formText_input--form-vin{
    width: 97%;
    height: 40px;
    margin-bottom: 10px;
}

.formCheckbox_input{
    margin: 4px;
} 
.formSubmit_input--form-button{
    background: red;
    width: 200px;
    height: 40px;
    color: white;
    border: none;
}
.formText--multi-firstname,
.formText--multi-lastname,
.formEmail--form-multiemail,
.formText--multi-number
{
    margin: 15px 0px;
}
.formSubmit_input--prev-button,
.formSubmit_input--next-button,
.formSubmit_input--submit-button{
    margin: 0px 10px;
}

.formSubmit_input--next-button
{
    background-color: #4fd34f;
    border: none;
    color: white;
    width: 80px;
    height: 30px;
}
.formSubmit_input--prev-button{
    background-color: #d43737;
    border: none;
    color: white;
    width: 80px;
    height: 30px;
}
.formSubmit_input--submit-button
{
    background-color: #4fd34f;
    border: none;
    color: white;
    width: 80px;
    height: 30px;
}