.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}



.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034e;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034e;
}

.paragraph--nissanModel {
  color: #4e4e50 !important;
}


.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034e;
}

.container--title {
  color: #03034e;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }
  .container--about {
    max-width: 85%;
  }
  .container--title {
    color: #03034e;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }
  .container--title .paragraph {
    line-height: 1.3em;
    font-weight: bold;
  }
  .paragraph--credits,
  .paragraph--social {
    font-size: 16px;
    color: #c0bfc0;
    padding-top: 0px;
  }

  .paragraph .paragraph--layout-option {
    margin-top: -5px;
  }
}

.wrapper--credits {
  max-height: 16px;
}

.container--credits {
  color: white;
  align-content: center;
  justify-content: center;
  font-size: 16px;
  max-height: 16px;
  margin-top: 0px;
}
.container--shopping, .container--viewcart{
  display: flex;
  justify-content: center;
}
.paragraph--shopping, .paragraph--viewcart{
  color: black;
  font-weight: bolder;
  /* font-family: sans-serif; */
}
.paragraph--shopping{
     padding: 0px 80px;
}
.paragraph--viewcart{
     padding: 0px 120px;
}

/* =========== Tablet ================*/
@media only screen and (min-width: 481px) and (max-width: 1026px) {
  .container--credits {
    color: white;
    text-align: center;
    font-size: smaller;
    display: flex;
    justify-content: center;
  }
}

/*============ Mobile ============== */
@media only screen and (max-width: 480px) {
  .container--credits {
    color: white;
    text-align: center;
    font-size: smaller;
    display: flex;
    justify-content: center;
  }
}

.paragraph--faq-Heading {
  color: grey;
  /* font-family: San Francisco,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif; */
  font-size: larger;
}

.heading--faq-Extra {
  color: green;
  /* font-family: cursSan Francisco,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serifive; */
}

.container--shipping-query1 {
  color: green;
  /* font-family: cursive; */
  font-size: large;
}
.wrapper--shipping-ans1 {
  color: grey;
  /* font-family: San Francisco,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif; */
  font-size: large;
}

:global(.vtex-modal-layout-0-x-paper--modal-md) {
  width: 36%;
  padding: 23px;
  border: 1px solid black;
  line-break: auto;
}

.paragraph--anchor-link {
  text-decoration: underline;
  color: #d61c79;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: cursive;
}
.container--shipping-title {
  color: green;
  font-size: x-large;
  /* font-family: San Francisco,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif; */
}

.strong--privacy-title {
  color: green;
  font-size: large;
  /* font-family: San Francisco,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif; */
}
.strong--privacy-title .container--term-handle {
  color: green;
  font-size: large;
}

.container--term-handle {
  color: green;
  font-size: large;
}

.container--term-points {
  color: grey;
  font-size: large;
}

.wrapper--term-askUs {
  color: green;
  font-size: x-large;
}
:global(.vtex-modal-layout-0-x-triggerContainer) {
  display: flow-root;
}

.container--privacy-title {
  color: green;
  font-size: large;
}

.wrapper--title-contact {
  color: green;
  font-size: large;
}
.wrapper--about-contact {
  color: grey;
  font-size: medium;
  /* font-family: San Francisco,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif; */
}

.container--Wishtitle {
  color: #3f3f40;
  padding-top: 0;
  padding-bottom: 1rem;
}

/* ---------- */
.heading--awesome {
  color: #ffffff;
  margin-bottom: 10px;
}

.heading--order-placed-text {
  margin-top: 10px;
  color: #ffffff;
  margin-bottom: 0px;
}

.container--contact-us {
  font-weight: bold;
  font-size: 1.4rem;
  font-variant-caps: petite-caps;
  color: #3f3f40;
}

.container--contact-us-submit {
  font-size: 1.3rem;
  color: #424244;
  margin: 3rem auto;
}
.paragraph--header-top-sales {
  color: white;
}

.container--contact-us-spacer {
  font-size: 2px;
  color: transparent;
  margin-top: 1rem;
}
.headingLevel5--vinText {
  margin-left: 10px;
  margin-right: 15px;
}

/*----------------PDP Page---------------------- */
.paragraph--name {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #171c20;
  padding-top: 0;
}

.wrapper--nissan-content1,.wrapper--nissan-content2{
  padding-left: 50px;
}

.wrapper--accessories-header{
padding-left: 50px;
}

.paragraph--banner-title{
  font-weight: bold;
  font-size: larger;
  text-align: left;
  margin-bottom: 0px;
}

.paragraph--banner-location{
  font-weight: bold;
    font-size: 12px;
    /* margin-top: 0px; */
    margin-bottom: 0px;
    
}
.container--banner-contact{
  border: 1px solid #ddd;
  margin-right: 5px;
  font-weight: bold;
  background: #fafafa;
}

.container--banner-email{
  border: 1px solid #ddd;
  font-weight: bold;
  margin-left: 5px;
  background: #fafafa;
}
.paragraph--nissan-policy{
  font-weight: bold;
}
.container--return-policy{
  border: 1px solid #ddd;
    padding-left: 10px;
    font-weight: bold;
    background: #fafafa;
    margin-bottom: 10px;
}
.container--payment-1{
  border: 1px solid #ddd;
  padding-left: 10px;
  font-weight: bold;
  background: #fafafa;

}

.paragraph--installation-title{
  margin: 12px 347px 12px 14px;
  font-family: NissanBrand;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}
.paragraph--installation-main-cotent{
  margin: 12px 19px 0 14px;
  font-family: NissanBrand;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4e4e50;
}

.paragraph--installation-content{
  margin: 12px 15px 12px 0px;
  font-family: NissanBrand;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c32323;
}

