.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: white;
  width: 100%;
}

.sliderTrackContainer {
  max-width: 1520px;
}

/* .paginationDotsContainer--carousel {
  display: flex;
  align-items: end;
  justify-content: right;
  margin: 0.5rem;
} */

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 440px !important;
}
.paginationDotsContainer--shelf {
  visibility: hidden;
}
.slideChildrenContainer--carousel-top {
  background-color: #141223f2;
}
