.galleryLayoutOptionButton {
  background-color: #F0F0F0;
  color: #3F3F40;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.galleryLayoutOptionButton--selected {
  background-color: #3F3F40;
  color: #FFFFFF;
}

.galleryLayoutSwitcher {
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
  align-self: center
}

.galleryItem--list {
  border-bottom: 1px #E7E9EE solid;
}

.totalProductsMessage--layout{
  font-size: large;
    font-weight: bold;
    font-family: sans-serif;
    top: 1px;
    position: relative;
    padding-top: 6px;
}

.orderByButton{
  right: 180px;
  top: -30px;
  padding-top: 2px;
}

.buttonShowMore--layout{
  display: none;
}

.galleryTitle--layout {
  font-size: 1.5em;
  margin: 10px;
  color: #d1d5c7;
  font-weight: 700;
}
.filtersWrapper {
  padding: 10px;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 15%);
  border: solid 1px rgba(255,255,255,.15);
  border-radius: 0 0 5px 5px;
}
.filterAvailable {
  padding: .75em 0;
}
.filterMessage {
  color: #d1d5c7;
  font-weight: 600;
}
.filterTitle {
  font-size: .95em;
  font-weight: 600;
}
.filterContent {
  font-size: .95em;
}
.filterContainer--priceRange {
  border: none;
}
.filterIcon {
  color: darkolivegreen
}

.totalProducts--layout{
  padding-top: 12px;
  font-size: large;
}

.filterPopupTitle{
  font-size: initial;
  padding-top: 0px;
}