.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

/* .socialNetworksContainer{
  display: flex;
  justify-content: end;
  padding-right: 70px;
} */
.socialNetworksContainer--social-networks {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 70px;
  min-width: 800px;
  justify-content: end;
  /* color: white !importan; */
}

.socialNetworkImage--social-networks--facebook ::before{
  color: white !important;
  background-color: black;
  border: white !important;
}
.socialNetworksContainer--social-networks-pdp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

/* =========Tablet & Mobile ============ */
@media only screen and (max-width:1026px){
  .acceptedPaymentMethodContainer{
    justify-content: center;
  }
  .socialNetworksContainer{
    justify-content: center;
  }
}

/* @media only screen and (max-width:480px){
  .socialNetworksContainer--social-networks{
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    min-width: 0 !important;
    justify-content: center !important;
  }
} */
