.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-slide {
  object-fit: cover;
  width: 100%;
  height: 50vh;
  margin: auto 10px;
}

/* .infoCardContainer--info-card-slide {
  width: 100%;
  height: 350px;
  margin-top: 5px;
} */
.infoCardHeadline--info-card-slide {
  color: #fdfdfd;
  /* background: #adb5bbbd; */
  /* padding: 10px; */
  font-weight: 900;
  font-variant: petite-caps;
}
.infoCardSubhead--info-card-slide {
  color: #ffffff;
  font-variant: unicase;
  font-weight: bold;
  padding: 5px;
}

/* .infoCardCallActionContainer--info-card-slide {
  background-color: transparent;
  color: black;
} */

.newsletter {
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  background: darkolivegreen;
}

.label {
  color: #fff;
  font-size: 26px;
}

.label--newsletter {
  display: flex;
  color: #fff;
  font-size: 26px;
  justify-content: center;
  align-items: center;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup--newsletter {
  display: flex;
  color: #fff;
  min-width: 400px;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.buttonContainer--newsletter {
  display: flex;
  color: #fff;
  font-size: 6px;
  justify-content: center;
  align-items: center;
  background-color: #ad2697;
  padding-right: 25px;
  margin-left: 10px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer :global(.vtex-product-summary-2-x-SKUSelectorContainer) {
  margin: 1rem 0;
  padding-top: 26px;
}

@media only screen and (min-width: 640px) {
  .form--newsletter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 800px;
    font-size: 30px;
  }
  /* .newsletter .container {
    padding: 140px;
  } */
  .newsletter .container--newsletter {
    padding: 10px 10px;
  }
  .label--link {
    font-size: 25px;
  }
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

/* .productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
} */

.productNameContainer {
  color: #2a2a2b;
  font-weight: bold;
  font-size: 20px !important;
}

.searchBarContainer {
  background-color: #d1d5c7;
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 99999;
}
@media screen and (min-width: 1025px) {
  .searchBarContainer {
    padding: 0.75em 3em;
  }
}
@media screen and (max-width: 1024px) {
  .searchBarContainer {
    padding: 0.4em;
  }
}

.productBrand--quickview {
  font-size: 30px;
}

.productDescriptionContainer--product {
  color: gray;
}

.productDescriptionTitle--product {
  font-weight: bold;
}

.container--menu-row {
  min-width: 1000px;
}
/* =========Store Features========= */
.imageElement--store-features-img {
  border-radius: 80px;
  padding: 30px 0px;
}
/* ============Corporate blog =========== */
.imageElement--corporate-blog-image {
  padding-bottom: 20px;
}

/* ===============Tablet================== */
@media only screen and (min-width: 481px) and (max-width: 1025px) {
  .inputGroup--newsletter {
    min-width: auto;
  }
  .label--newsletter {
    font-size: 18px;
  }
  .newsletter {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(255, 255, 255) !important;
  }
  .form--newsletter {
    min-width: auto !important;
  }
}

/* ================= Mobile ====================== */
@media only screen and (max-width: 480px) {
  .inputGroup--newsletter {
    min-width: auto;
    margin-left: 0px;
    display: block;
    justify-content: center;
    align-items: center;
  }
  .label--newsletter {
    font-size: 15px;
  }
  .buttonContainer--newsletter {
    font-size: 2px !important;
    margin-top: 10px;
    margin-left: 0px !important;
  }
  .newsletter {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgb(255, 255, 255) !important;
  }
  .newsletter .container--newsletter {
    padding: 10px 10px;
  }
  .notificationContent {
    text-align: center;
  }
}

.skuSelectorSubcontainer,
.skuSelectorNameContainer,
.skuSelectorTextContainer {
  margin: 0;
}
.skuSelectorNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}
.skuSelectorItemImageValue {
  height: 100%;
  width: auto;
  object-fit: contain;
}
.galleryItem--list {
  border: none;
}
.skuSelectorOptionsList {
  margin-left: 10px;
}

.discountInsideContainer {
  border-radius: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.shippingContainer,
.shippingTable {
  margin-bottom: 20px;
}

.backToTopButtonContainer {
  bottom: 70px;
}

/* modal-infocard */
.infoCardContainer--info-card-sale {
  padding: 0px;
  background-color: #fdd601;
}
.infoCardHeadline--info-card-sale {
  color: #731a8e;
  font-weight: bolder;
  font-variant: petite-caps;
}
.infoCardSubhead--info-card-sale {
  color: #e8031f;
  font-weight: bolder;
  font-variant: petite-caps;
}

.imageElement--testIcons {
  padding: 0px 5px;
}
.notificationBarInner {
  margin-top: 5px;
}
.confirmationText--newsletter {
  color: white;
}
.confirmationTitle--newsletter {
  color: white;
}
/* ========= */
.skuSelectorName {
  display: inline-block;
  min-width: 100px;
}
/* .skuSelectorOptionsList{
justify-content: center;
} */

/* =============== mobile-landscape ====================== */
@media (max-width: 640px) and (orientation: landscape) {
  .skuSelectorName {
    min-width: 60px;
  }
  .skuSelectorItemTextValue {
    font-size: 10px !important;
  }
  .infoCardHeadline--info-card-slide {
    font-size: 20px;
    font-weight: normal;
  }
  .imageElement--store-features-img {
    max-height: 280px !important;
  }
}

/* ======== iphoneX landscape ========= */
@media (max-width: 812px) and (orientation: landscape) {
  .infoCardHeadline--info-card-slide {
    font-size: 20px;
    font-weight: normal;
  }
  .skuSelectorItemTextValue {
    font-size: 10px !important;
  }
}

/* -----------------nissan pdp page ----------------------*/

.container--availibility {
  margin: auto;
}

.productImage--pdp-img {
  border: 2px solid rgb(235, 234, 234);
  border-radius: 4px;
}

.carouselGaleryThumbs--pdp-img {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
.carouselThumbBorder--pdp-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(235, 234, 234);
  border-right: 1px;
  border-radius: 4px;
  /* margin-right: 2px; */
  object-fit: contain;
}

.productimagesgalleryswipercontainer--pdp-img {
  padding-bottom: 0;
  margin-bottom: 0;
}
.productImagesGallerySlide--pdp-img {
  margin-top: 0;
  margin-bottom: 0;
}

.thumbImg--pdp-img {
  object-fit: contain;
  object-position: center;
  overflow: hidden;
  padding-top: 5px;
}

.imageElement--car {
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid rgb(235, 234, 234);
  border-radius: 2px;
  cursor: pointer;
}

.productDescriptionTitle--product-desc {
  margin-top: 10px;
  font-size: 16px !important;
  font-weight: 700;
  color: black !important;
}

.content--product-desc {
  font-weight: normal !important;
  color: black !important;
  line-height: 1.4;
}

.productBrand--quickview {
  color: #2a2a2b;
  font-weight: bold;
  font-size: 20px !important;
}
.imageElement--fb,
.imageElement--youtube,
.imageElement--twitter,
.imageElement--insta,
.imageElement--pinterest {
  margin-right: 10px;
}
.container--socialIcons {
  background-color: black;
}

.infoCardHeadline--nissan-accessories {
  font-size: 1rem;
  font-weight: 400;
}

.infoCardCallActionContainer--nissan-accessories {
  display: none;
}

.imageElement--image-container {
  padding-left: 20px;
  margin-top: 10px;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
}
