.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-slide {
  object-fit: cover;
  width: 100%;
  height: 50vh;
  margin: auto 10px;
}

/* .infoCardCallActionContainer--info-card-slide {
  background-color: transparent;
  color: black;
} */

.newsletter {
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  background: darkolivegreen;
}

.label {
  color: #fff;
  font-size: 26px;
}

.label--newsletter {
  display: flex;
  color: #fff;
  font-size: 26px;
  justify-content: center;
  align-items: center;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup--newsletter {
  display: flex;
  color: #fff;
  min-width: 400px;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.buttonContainer--newsletter {
  display: flex;
  color: #fff;
  font-size: 6px;
  justify-content: center;
  align-items: center;
  background-color: #ad2697;
  padding-right: 25px;
  margin-left: 10px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer :global(.vtex-product-summary-2-x-SKUSelectorContainer) {
  margin: 1rem 0;
  padding-top: 26px;
}

@media only screen and (min-width: 640px) {
  .form--newsletter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 800px;
    font-size: 30px;
  }
  /* .newsletter .container {
    padding: 140px;
  } */
  .newsletter .container--newsletter {
    padding: 10px 10px;
  }
  .label--link {
    font-size: 25px;
  }
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.searchBarContainer {
  background-color: #d1d5c7;
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 99999;
}
@media screen and (min-width: 1025px) {
  .searchBarContainer {
    padding: 0.75em 3em;
  }
}
@media screen and (max-width: 1024px) {
  .searchBarContainer {
    padding: 0.4em;
  }
}

.productBrand--quickview {
  font-size: 30px;
}

.productDescriptionContainer--product {
  color: gray;
}

.productDescriptionTitle--product {
  font-weight: bold;
}

.container--menu-row {
  min-width: 1000px;
}
/* =========Store Features========= */
.imageElement--store-features-img {
  border-radius: 80px;
  padding: 30px 0px;
}
/* ============Corporate blog =========== */
.imageElement--corporate-blog-image {
  padding-bottom: 20px;
}

/* ===============Tablet================== */
@media only screen and (min-width: 481px) and (max-width: 1025px) {
  .inputGroup--newsletter {
    min-width: auto;
  }
  .label--newsletter {
    font-size: 18px;
  }
  .newsletter {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(255, 255, 255) !important;
  }
  .form--newsletter {
    min-width: auto !important;
  }
}

/* ================= Mobile ====================== */
@media only screen and (max-width: 480px) {
  .inputGroup--newsletter {
    min-width: auto;
    margin-left: 0px;
    display: block;
    justify-content: center;
    align-items: center;
  }
  .label--newsletter {
    font-size: 15px;
  }
  .buttonContainer--newsletter {
    font-size: 2px !important;
    margin-top: 10px;
    margin-left: 0px !important;
  }
  .newsletter {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgb(255, 255, 255) !important;
  }
  .newsletter .container--newsletter {
    padding: 10px 10px;
  }
}

.skuSelectorSubcontainer,
.skuSelectorNameContainer,
.skuSelectorTextContainer {
  margin: 0;
}
.skuSelectorNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}
.skuSelectorItemImageValue {
  height: 100%;
  width: auto;
  object-fit: contain;
}
.galleryItem--list {
  border: none;
}
.skuSelectorOptionsList {
  margin-left: 10px;
}

.discountInsideContainer {
  border-radius: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.shippingContainer,
.shippingTable {
  margin-bottom: 20px;
}
