.galleryLayoutOptionButton {
  background-color: #f0f0f0;
  color: #3f3f40;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.galleryLayoutOptionButton--selected {
  background-color: #3f3f40;
  color: #ffffff;
}

.galleryLayoutSwitcher {
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
  align-self: center;
}

.galleryItem--list {
  border-bottom: none;
}
.galleryItem--grid {
  padding: 0.75rem 0;
}

.totalProductsMessage--layout {
  font-size: large;
  font-weight: bold;
  font-family: sans-serif;
  top: 1px;
  position: relative;
  padding-top: 6px;
}

.orderByButton {
  padding: 0;
}

.buttonShowMore--layout {
  padding: 0.5 0;
}
.buttonShowMore {
  height: 40px;
}
.gallery--grid {
  padding-left: 1rem;
}
.galleryTitle--layout {
  font-size: 1.4em;
  margin: 14px;
  color: rgb(23, 23, 141);
  font-weight: 700;
  font-variant: small-caps;
  display: flex;
  justify-content: center;
}
.filtersWrapper {
  padding: 10px;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 15%);
  border: solid 1px rgba(168, 168, 168, 0.192);
  border-radius: 0 0 5px 5px;
}
.filterAvailable {
  padding: 0.75em 0;
}
.filterMessage {
  color: rgb(105, 105, 112);
  font-weight: 600;
  font-size: 1rem;
  font-variant: small-caps;
}
.filterTitle {
  font-size: 0.9rem;
  font-weight: 0.9rem;
}
.filterContent {
  font-size: 0.8em;
}
.filterContainer--priceRange {
  border: none;
}
.filterIcon {
  color: darkolivegreen;
}
.filterPopupArrowIcon {
  padding: 0 0.5rem;
}
.filterPopupTitle {
  text-transform: capitalize;
}
.orderByButton {
  justify-content: center;
}
.totalProducts--layout {
  padding: 0;
  text-transform: capitalize;
}
.totalProductsMessage,
.orderByText {
  color: #3f3f40;
  font-variant: small-caps;
}

.filtersWrapper--filter {
  background-color: #f5f5f8;
  border-radius: 10px;
}

.caretIcon--filter {
  color: #3f3f40;
}
.filterItem--filter {
  font-size: 0.96rem;
}

.searchResultContainer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 480px) {
  .galleryTitle--layout {
    font-size: 1.3em;
    margin: 12px;
    font-weight: 600;
  }
  .totalProducts--layout {
    padding-top: 10px;
  }
}

.orderByOptionsContainer{
  z-index: 5;
}
/* =============== mobile-landscape ====================== */
@media (max-width: 640px) and (orientation: landscape) {
.galleryItem--grid{
  padding:10px !important;
}
}