.buttonLink--cta-button {
  color: grey;
  font-size: 14px;
  font-weight: 600;
}

.buttonLink--tony-button{
  float: right;
  text-decoration: underline;
}


.link--redirect-tonyNissan {
  display: block;
  padding: 10px 10px 0 10px;
  color: #000;
}

.buttonLink--tony-button {
  float: right;
    /* padding: 9px; */
    margin: 10px;
}

/*:global(.vtex-store-link-0-x-link--redirect-nissan-value){
	width: 40%;
    float: right;
    margin: 18px 0;
    color: #000;
    word-break: break-word;
}*/

.link--redirect-nissan-event{
	width: 40%;
    float: right;
    /* margin: 18px 0; */
    margin-top: 50px;
    color: #000;
    word-break: break-word;
}

.link--redirect-nissan-event-sub{
	width: 40%;
    float: right;
    /* margin: 18px 0; */
    /* margin-top: 50px; */
    color: #000;
    word-break: break-word;
}

.link--redirect-nissan-value{
  width: 40%;
  float: right;
  margin-top: 50px;
  /* margin: 18px 0; */
  color: #000;
  word-break: break-word;
}

.link--redirect-nissan-value-sub{
  width: 40%;
  float: right;
  /* margin-top: 50px; */
  /* margin: 18px 0; */
  color: #000;
  word-break: break-word;
}