@media only screen and (min-width: 640px) {
  .listContainer--product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 64px;
    width: 1160px;
  }
  .listItem--details,
  .listItem--info,
  .listItem--reviews,
  .listItem--services {
    background: white;
    font-size: larger;
    display: flex;
    justify-content: center;
    padding: 0px 0px;
    margin: 0px 0px;
    border: 1px solid #949395;
    max-width: 25%;
    flex-grow: 1;
  }
  .listItemActive--details,
  .listItemActive--info,
  .listItemActive--reviews,
  .listItemActive--services {
    background: #8b1a1a;
    font-size: larger;
  }
  .contentContainer--product {
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: white;
    margin-left: 4rem;
    width: 1160px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4e4e50;
  }
  .contentItem--details,
  .contentItem--info,
  .contentItem--reviews,
  .contentItem--services {
    background-color: white;
    justify-content: center;
    padding: 30px;
    /* height: 320px; */
    width: 1240px;
    border: solid 1px #949395;
    border-top: none;
  }
  .container--product-tab {
    background-color: #fafafa;
    padding: 50px 0;
  }
  .listContainer--product {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .listItem--details,
  .listItem--info,
  .listItem--reviews {
    background: white;
    font-size: larger;
    display: flex;
    justify-content: center;
    padding: 0px 0px;
    margin: 0px 0px;
    border: 1px solid #ad2697;
    max-width: 25%;
    flex-grow: 1;
  }
  .listItemActive--details,
  .listItemActive--info,
  .listItemActive--reviews {
    font-size: larger;
  }
  .listItem--details,
  .listItem--info,
  .listItem--reviews {
    flex-direction: column;
  }
  .contentContainer--product {
    display: flex;
    justify-content: center;
    align-items: top;
  }
  /* .contentItem--details,
  .contentItem--info,
  .contentItem--reviews {
    justify-content: center;
    padding: 10px 30px;
    max-width: 75%;
    min-height: 300px;
    margin: 30px 30px;
  }
} */
}

@media only screen and (max-width: 640px) {
  .listContainer--product {
    display: flex;
  }
  .listItem--details,
  .listItem--info,
  .listItem--reviews,
  .listItem--services {
    background: white;
    font-size: medium;
    display: flex;
    justify-content: center;
    padding: 0px 0px;
    margin: 0px 0px;
    border: 1px solid #949395;
    width: 30%;
    position: relative;
  }
  .listItemActive--details,
  .listItemActive--info,
  .listItemActive--reviews,
  .listItemActive--services {
    background: #8b1a1a;
  }
  .contentContainer--product {
    display: flex;
    justify-content: center;
    align-items: top;
  }
  .contentItem--details,
  .contentItem--info,
  .contentItem--reviews,
  .contentItem--services {
    justify-content: center;
    max-width: 90%;
    min-height: 100px;
    margin: 25px 25px;
    margin-top: 10px;
    border: solid 1px #949395;
  }
}

@media only screen and (max-width: 1240px){
  .listContainer--product {
    display: flex;
    width: 88%;
  }

  .listItem--details,
  .listItem--info,
  .listItem--reviews,
  .listItem--services{
    padding: 10px;
  }
  .listItemActive--details,
  .listItemActive--info,
  .listItemActive--reviews,
  .listItemActive--services {
    background: #8b1a1a;
  }

  .contentContainer--product{
    width: 88%;
    padding-top: 5px;
  }
}
