.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-slide {
  object-fit: cover;
  width: 100%;
  height: 50vh;
  margin: auto 10px;
}

/* .infoCardCallActionContainer--info-card-slide {
  background-color: transparent;
  color: black;
} */

.newsletter {
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  background: darkolivegreen;
}

.label {
  color: #fff;
  font-size: 26px;
}

.label--newsletter {
  display: flex;
  color: #fff;
  font-size: 26px;
  justify-content: center;
  align-items: center;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup--newsletter {
  display: flex;
  color: #fff;
  min-width: 400px;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.buttonContainer--newsletter {
  display: flex;
  color: #fff;
  font-size: 6px;
  justify-content: center;
  align-items: center;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .form--newsletter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 800px;
    font-size: 30px;
  }
  /* .newsletter .container {
    padding: 140px;
  } */
  .newsletter .container--newsletter {
    padding: 10px 10px;
  }
  .label--link {
    font-size: 25px;
  }
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.searchBarContainer {
  background-color: #d1d5c7;
  padding: .75em 3em;
}

.productBrand--quickview {
  font-size: 30px;
}

.productDescriptionContainer--product {
  color: gray;
}

.productDescriptionTitle--product {
  font-weight: bold;
}

.container--menu-row {
  min-width: 1000px;
}