/* -------------------------------PDP Page --------------------------- */

@media only screen and (min-width: 640px) {
  .contentContainer--product {
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: #fafafa;
  }

  .contentItem--details,
  .contentItem--info,
  .contentItem--reviews {
    justify-content: center;
    padding: 20px 30px;
    max-width: 75%;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid rgb(235, 234, 234);
    margin: 30px auto;
    border-radius: 2px;
    font-size: 13px;
    line-height: 1.4;
    color: rgb(14, 13, 13) !important;
  }

  .listContainer--product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 12px !important;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .listItem--details,
  .listItem--info,
  .listItem--reviews {
    background: #e4e8ea;
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding: 0px 0px;
    margin: 0px 0px;
    border: 1px solid #e0dfe0;
    max-width: 33.33%;
    color: black;
    flex-grow: 1;
  }
  .listItem--info {
    border: 2px solid white;
    border-top: 1px solid #e0dfe0;
    border-bottom: 1px solid #e0dfe0;
  }

  .listItemActive--details,
  .listItemActive--info,
  .listItemActive--reviews {
    background-color: #fafafa;
    color: rgb(27, 27, 27);
    font-size: 12px;
    border: none;
  }
  .contentContainer--product {
    display: flex;
    justify-content: center;
    align-items: top;
  }
}

@media only screen and (max-width: 640px) {
  .listContainer--product {
    display: flex;
  }
  .listItem--details,
  .listItem--info,
  .listItem--reviews {
    background: white;
    font-size: medium;
    display: flex;
    justify-content: center;
    padding: 0px 0px;
    margin: 0px 0px;
    border: 1px solid #ad2697;
    width: 30%;
    position: relative;
  }
  .listItemActive--details,
  .listItemActive--info,
  .listItemActive--reviews {
    background: #ad2697;
  }
  .contentItem--details,
  .contentItem--info,
  .contentItem--reviews {
    justify-content: center;
    max-width: 90%;
    min-height: 100px;
    margin: 25px 25px;
    margin-top: 10px;
  }
}
