.container {
  max-width: 96rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.inlineContainer {
  margin: 0.5rem auto;
}

.star--filled {
  color: #ffb100;
}

.star--empty {
  color: #ffb100;
}
.reviewsHeading {
  font-size: 16px;
  margin: 5px auto;
  font-variant: small-caps;
}
.reviewCommentsContainer {
  margin: 5px auto;
  font-size: 14px;
}
