.styledLinkContent--sub-header {
  font-family: Helvetica, Tahoma, sans-serif;
  font-size: 1.05rem;
  font-weight: 600;
  width: 100%;
  height: 100%;
  padding: 10px 25px;
  padding-left: 30px;
  color: rgb(97, 96, 96);
}

.styledLinkContent--sub-header:hover,
.styledLinkContent--sub-header:active {
  color: white;
}

.styledLinkContainer--sub-header {
  width: 100%;
  margin: 0;
  padding: 0;
}

.styledLinkContainer--sub-header:hover,
.menuItem--sub-header--isOpen:hover,
.menuItem--sub-header--isOpen:active,
.styledLinkContent--sub-header:hover {
  color: white;
  background-color: rgb(14, 78, 14);
}

/* ------------------------------------------------------------ */

.styledLinkContent--buying,
.styledLinkContent--forOwners,
.styledLinkContent--legal {
  font-size: 14px;
  padding-bottom: 5px;
  color: rgb(255, 255, 255);
  cursor: default;
  font-weight: bold;
  font-family: inherit;
}

.styledLinkContent--megaMenu-header {
  font-size: 1.25rem;
  font-weight: 700;
  color: rgb(10, 128, 10);
}

.styledLinkContent--megaMenu-header:hover,
.styledLinkContent--megaMenu-header:active {
  color: rgb(14, 151, 14);
}
.styledLinkContent--buildYourNissan,
.styledLinkContent--viewNismoCatalog,
.styledLinkContent--nismoJapanPartsAndAccessories,
.styledLinkContent--jdmNismoMerchandise,
.styledLinkContent--nissanVipProgram,
.styledLinkContent--omniParts,
.styledLinkContent--manualsandguides,
.styledLinkContent--recallInformation,
.styledLinkContent--ownerPortal,
.styledLinkContent--nissanService,
.styledLinkContent--nissanVisaCreditCard,
.styledLinkContent--nissanTireStore,
.styledLinkContent--privacyPolicy,
.styledLinkContent--doNotSellMyPersonalInformation,
.styledLinkContent--warranty {
  font-size: 12px;
  color: white;
  margin-bottom: 5px !important;
  font-family: 'Nissan Brand Regular_master', sans-serif !important;
}

/* =========== Tablet ================*/
@media only screen and (min-width: 481px) and (max-width: 1026px) {
  .styledLinkContent--my-account-mobile,
  .styledLinkContent--about-mobile,
  .styledLinkContent--customer-service-mobile,
  .styledLinkContent--shop-mobile {
    color: white !important;
  }
  .styledLinkContent--megaMenu-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-weight: 550;
    padding: 0.3rem;
    padding-left: 1rem;
  }
  .styledLinkContent--sub-header {
    font-size: 1rem;
  }
}
/*============ Mobile ============== */
@media only screen and (max-width: 480px) {
  .styledLinkContent--my-account-mobile,
  .styledLinkContent--about-mobile,
  .styledLinkContent--customer-service-mobile,
  .styledLinkContent--shop-mobile {
    color: white !important;
  }

  .styledLinkContent--megaMenu-header {
    font-family: Helvetica;
    font-size: 1.1rem;
    padding: 0.4rem;
  }
  .styledLinkContent--sub-header {
    font-size: 0.95rem;
    font-weight: 550;
    padding-bottom: 0.3px;
  }
}

.accordionIcon--shop-mobile,
.accordionIcon--about-mobile,
.accordionIcon--customer-service-mobile,
.accordionIcon--my-account-mobile {
  color: white !important;
}

.accordionIcon--megaMenu-header {
  color: green !important;
  padding-left: 1rem;
}
