.buttonLink--cta-button {
  font-size: 14px;
  font-weight: 600;
}
.buttonLink--cta-button {
  background-color: #c32323;
  border-color: #c32323;
  color: #fff;
}
.buttonLink--cta-button:hover {
  background-color: #8b1a1a;
  border-color: #8b1a1a;
  color: #fff;
}

.buttonLink--App-store ,
.buttonLink--App-googleplay{
  margin-right: 48px;
  /* padding-right: 13px; */
  margin-left: 20px;
}

.buttonLink--details-1-link,
.buttonLink--details-2-link,
.buttonLink--details-3-link,
.buttonLink--visa-card-button
{
  margin-left: 20px;
}