
.caretIcon--disclosure-pdp {
  margin-left: 6px;
  margin-top: 8px;
  position: absolute;
  right: 0;
}
.caretIcon--caretPlpIcon {
  margin: 0 10px;
}

.caretIcon--caret-home {
  background-color: green;
  color: white;
  padding: 10px 7px;
}
