.trigger--details,
.trigger--additionalInfo,
.trigger--reviews {
  display: flex;
  max-width: 90%;
  margin-left: 10px;
}

.content--details,
.content--additionalInfo,
.content--reviews {
  max-width: 90%;
  min-height: 50px;
  margin-left: 10px;
}
/* .trigger--searchBarIcon {
  padding: 15px;
  border: none;
  background-color: #d1d5c7;
  color: #fff;
  overflow: visible;
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
} */
.trigger--searchBarIcon {
 background-color: transparent;
 color: white;
 border: none;

}
.trigger--shipping-trigger{
  position: relative;
  left: 29em;
  bottom: 10px;
}
/* ======Mobile========== */
@media only screen and (max-width: 480px) {
  .trigger--searchBarIcon {
   position: relative;
   left: 50px;
  }
  .trigger--shipping-trigger{
    position: relative;
    left: 7em;
    bottom: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .trigger--searchBarIcon {
   position: relative;
  }
  .trigger--shipping-trigger{
    position: relative;
    left: 12em;
    bottom: 10px;
  }
}
