.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

/* .flexRowContent--menu-link {
  background-color: white;
  color: darkolivegreen;
} */

.flexRowContent--main-header {
  background-color: white;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0;
  background-color: #f0f0f0;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  font-weight: 700;
  font-size: 14px;
  color: lightgray;
}

.flexRowContent--main-header :hover,
.flexRowContent--main-header :active {
  color: rgb(11, 112, 50);
}

.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexColChild .flexColChild--productCountCol {
  align-items: center;
  display: flex;
  width: 100%;
}

/*.flexCol*  {
  display:none;
}*/
.flexRow--footer-link,
.flexRow--social-networks,
.flexRow--credits {
  background: darkolivegreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.flexRowContent--menu-row :global(.vtex-menu-2-x-styledLink) {
  color: white;
}

.flexRow--minicart-footer {
  box-shadow: none;
}

/* specific styling main header */

.flexRowContent--main-menu {
  padding: 0 0.3rem;
  box-sizing: border-box;
  border-bottom: 2px solid rgb(167, 165, 165);
}

.flexRowContent--main-menu :hover,
:active {
  color: rgb(126, 123, 123);
}

.flexRowContent--main-menu :global(.vtex-menu-2-x-styledLink) {
  font-size: 20px;
  color: rgb(11, 112, 50);
  font-weight: 600;
}

.flexRowContent--footer-link {
  min-width: 900px;
}

.flexRow--social-networks-pdp {
  background-color: white;
  display: flex;
  justify-content: left;
  align-items: center;
}
/* .flexRow--customSearchTitle {
  position: relative;
} */
.flexRowContent--customSearchTitle {
  /* position: absolute;
  top: -47px;
  left: 0; */
  background-color: #fff;
  width: auto;
  min-width: 280px;
  border-bottom: 1px solid #d1d5c7;
  border-radius: 5px 5px 0 0;
  margin-bottom: 1rem;
}

/*.flexColChild:global(.vtex-flex-layout-0-x-flexRow){
  text-align: center;
  display: flex;
}*/

/* =========== Tablet ================*/
@media only screen and (min-width: 481px) and (max-width: 1026px) {
  .flexRowContent--payment-methods {
    background-color: darkolivegreen;
  }
  .flexRowContent--accordion {
    background-color: darkolivegreen;
  }
}

/*============ Mobile ============== */
@media only screen and (max-width: 480px) {
  .flexRowContent--payment-methods {
    background-color: darkolivegreen;
  }
  .flexRowContent--accordion {
    background-color: darkolivegreen;
  }
  .flexColChild--product-name {
    padding-left: 25px;
  }
  .flexRowContent--testIconsRow{
    justify-content: center;
    display: flex;
  }

  .flexRowContent--productSummaryMobile{
    display: block !important;
  }
}

.flexRowContent--productListPricing {
  top: 0 !important;
  padding-bottom: 0 !important;
  min-height: 21px;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.flexCol--filterCol {
  min-width: 280px;
  max-width: 350px;
}

.flexColChild--titleWishlist {
  margin-left: 3rem;
}

.flexRowContent--contact-us-form {
  padding: 0 2rem 2rem 2rem;
}
.flexRow--contact-us-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRowContent--testIconsRow {
  justify-content: center;
  margin: 20px 0px;
}

.flexRowContent--main-menu-static {
  box-shadow: 0px 1px 8px 0px #808080f5;
}




:global(.vtex-flex-layout-0-x-flexCol--nissan-dealer-col1) {
  border: 1px solid #ccc;
  margin: 10px;
background-color: #fafafa;
}

:global(.vtex-flex-layout-0-x-flexRow--dealer-row-container) {
margin-bottom: 30px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--nissan-value-container){
  background-image: url(https://parts.nissanusa.com/images/uploads/Assets/tile-link-advantage-mar2021.jpg);
height: 200px;
width: 100%;
margin-left: 5px;
display: block;
background-repeat: no-repeat;
position: relative;
width: 100%;
height: 200px;
background-size: 100%;
margin-bottom:30px;
margin-top: 20px;
border: 1px solid #ccc;
}

:global(.vtex-flex-layout-0-x-flexRowContent--nissan-event-container){
  background-image: url(https://parts.nissanusa.com/images/uploads/Assets/tile-link-sxm-nissan.jpg);
height: 200px;
width: 100%;
margin-left: 5px;
display: block;
background-repeat: no-repeat;
position: relative;
width: 100%;
height: 200px;
background-size: 100%;
margin-bottom:30px;
margin-top: 20px;
border: 1px solid #ccc;
}
