.product-identifier--productReference {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #171c20;
  margin-top: 1rem;
}
.product-identifier__label {
  display: none !important;
}

.product-identifier__separator {
  display: none;
}

.product-identifier__value {
  font-size: 13px !important;
  color: #4e4e50 !important;
}

/*============ Mobile ============== */
@media only screen and (max-width: 480px) {
  .product-identifier__value  {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}