.caretIcon--disclosure-pdp {
  margin-left: 10px;
  margin-top: 18px;
}
.caretIcon--caretPlpIcon {
  margin: 0 10px;
}

.caretIcon--caret-home {
  background-color: green;
  color: white;
  padding: 10px 7px;
}
