
.caretIcon--disclosure-pdp {
 
  margin-left: 6px;
  margin-top: 2px;
}
.caretIcon--caretPlpIcon {
  margin: 0 10px;
}

.caretIcon--caret-home {
  background-color: green;
  color: white;
  padding: 10px 7px;
}

.caretIcon,
.caretIcon--disclosure-pdp{
  margin-top: 21px!important;
}