.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: white;
  width: 100%;
}

.sliderTrackContainer {
  max-width: 1520px;
}

/* .paginationDotsContainer--carousel {
  display: flex;
  align-items: end;
  justify-content: right;
  margin: 0.5rem;
} */

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 440px !important;
}
.paginationDotsContainer--shelf {
  visibility: hidden;
}
.slideChildrenContainer--carousel-top {
  background-color: #141223f2;
}
/*============ Mobile ============== */
@media only screen and (max-width: 480px) {
  .sliderLayoutContainer--shelf {
    min-height: 450px;
  }
}

/* -----------------Sales Page---------------------------------- */
.slide--discount {
  margin-bottom: 25px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 490px !important;
}

.slideChildrenContainer--carousel-top-discount {
  background-color: #c32323;
}

@media screen and (max-width: 767px) {
  .sliderLayoutContainer--comparison-page {
    width: auto;
  }
  .sliderLayoutContainer--comparison-page {
    margin: auto;
  }
}
.slide--combo-discount-list1 {
  margin-bottom: 25px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 490px !important;
}
.slide--combo-discount-list2 {
  margin-bottom: 25px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 490px !important;
}

.sliderLayoutContainer--combo-discount-list1 {
  width: 400px;
}
.sliderLayoutContainer--combo-discount-list2 {
  width: 400px;
}
