.listPrice {
  color: #727273;
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.sellingPrice {
  color: #3f3f40;
  font-size: 1.25rem;
}

.sellingPriceValue {
  font-size: 2.25rem;
  font-weight: 700;
}

.installments {
  color: #727273;
  margin-bottom: 1rem;
}

.savings {
  font-weight: 500;
  color: #79b03a;
}

.sellingPriceValue--summary {
  font-size: 1.25rem;
  font-weight: 600;
  color: #2e2e2e;
}

.savings--summary {
  background: #8bc34a;
  border-radius: 1000px;
  align-items: center;
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #ffffff;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #ffffff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  display: none;
}

.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.savings--summaryPercentage {
  background: #0f3e99;
  border-radius: 1000px;
  align-items: center;
  display: flex;
}

.savingsPercentage--summaryPercentage {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #ffffff;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.currencyContainer {
  display: flex;
}

.currencyContainer--summary{
  margin-top: 16px;
  color: #c32323;
}

.currencyCode, .currencyInteger, .currencyFraction, .currencyDecimal, .currencyGroup {
  font-size: 16px;
  padding: 0px 0px;
  margin: 0px 0px;
}

