
.caretIcon--disclosure-pdp {
  margin-left: 6px;
  margin-top: 8px;
  position: absolute;
  right: 0;
}
.caretIcon--caretPlpIcon {
  margin: 0 10px;
}

.caretIcon--caret-home {
  color: #ffffff;
  margin: 5px;
}
.caretIcon--caret-vin-num {
  color: #c32323;
  margin: 5px;
}
