.notificationBarContainer {
  background-color: #eee;
  color: #000;
  font-weight: normal;
  font-size: 12px;
}
.notificationContent {
  text-align: left;
}
.notificationBarInner {
  justify-content: start;
  min-height: unset;
  padding: 6px 85px;
}
.infoCardContainer--info-card-slide {
  object-fit: cover;
  width: 100%;
  height: 50vh;
  margin: auto 10px;
}

.infoCardContainer--nissan {
  border: 1px solid red !important;
}

.infoCardCallActionContainer--nissan {
  width: 100%;
  margin-left: 1rem;
  justify-content: center;
}
/* .infoCardContainer--info-card-slide {
  width: 100%;
  height: 350px;
  margin-top: 5px;
} */
.infoCardHeadline--info-card-slide {
  color: #fdfdfd;
  /* background: #adb5bbbd; */
  /* padding: 10px; */
  font-weight: 900;
  font-variant: petite-caps;
}
.infoCardSubhead--info-card-slide {
  color: #ffffff;
  font-variant: unicase;
  font-weight: bold;
  padding: 5px;
}

/* .infoCardCallActionContainer--info-card-slide {
  background-color: transparent;
  color: black;
} */

.newsletter {
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  background: darkolivegreen;
}

.label {
  color: #fff;
  font-size: 26px;
}

.label--newsletter {
  display: flex;
  color: #fff;
  font-size: 26px;
  justify-content: center;
  align-items: center;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup--newsletter {
  display: flex;
  color: #fff;
  min-width: 400px;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.buttonContainer--newsletter {
  display: flex;
  color: #fff;
  font-size: 6px;
  justify-content: center;
  align-items: center;
  background-color: #ad2697;
  padding-right: 25px;
  margin-left: 10px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer :global(.vtex-product-summary-2-x-SKUSelectorContainer) {
  margin: 1rem 0;
  padding-top: 26px;
}

@media only screen and (min-width: 640px) {
  .form--newsletter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 800px;
    font-size: 30px;
  }
  /* .newsletter .container {
    padding: 140px;
  } */
  .newsletter .container--newsletter {
    padding: 10px 10px;
  }
  .label--link {
    font-size: 25px;
  }
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

/* .productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
} */

.productNameContainer {
  color: #2a2a2b;
  font-weight: bold;
  font-size: 20px !important;
}

/* .searchBarContainer {
  background-color: #d1d5c7;
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 99999;
} */
/* @media screen and (min-width: 1025px) {
  .searchBarContainer {
    padding: 0.75em 3em;
  }
}
@media screen and (max-width: 1024px) {
  .searchBarContainer {
    padding: 0.4em;
  }
} */

.productBrand--quickview {
  font-size: 30px;
}

.productDescriptionContainer--product {
  color: gray;
}

.productDescriptionTitle--product {
  font-weight: bold;
}

.container--menu-row {
  min-width: 1000px;
}
/* =========Store Features========= */
.imageElement--store-features-img {
  border-radius: 80px;
  padding: 30px 0px;
}
/* ============Corporate blog =========== */
.imageElement--corporate-blog-image {
  padding-bottom: 20px;
}

/* ===============Tablet================== */
@media only screen and (min-width: 481px) and (max-width: 1025px) {
  .inputGroup--newsletter {
    min-width: auto;
  }
  .label--newsletter {
    font-size: 18px;
  }
  .newsletter {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(255, 255, 255) !important;
  }
  .form--newsletter {
    min-width: auto !important;
  }
}

/* ================= Mobile ====================== */
@media only screen and (max-width: 480px) {
  .inputGroup--newsletter {
    min-width: auto;
    margin-left: 0px;
    display: block;
    justify-content: center;
    align-items: center;
  }
  .label--newsletter {
    font-size: 15px;
  }
  .buttonContainer--newsletter {
    font-size: 2px !important;
    margin-top: 10px;
    margin-left: 0px !important;
  }
  .newsletter {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgb(255, 255, 255) !important;
  }
  .newsletter .container--newsletter {
    padding: 10px 10px;
  }
  .notificationContent {
    text-align: center;
  }
  /* .searchBarContainer {
    background-color: #d1d5c7;
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 99999;
  }
  .searchBarContainer {
    padding: 0.75em 3em;
  }
  .searchBarContainer {
    padding: 0.4em;
  } */
  .searchBarInnerContainer--nissan-searchbar-one{
  border: 1px solid gray;
  border-radius: 0px;
  position: relative !important;
  left: 12px !important;
  top: 0px !important;
}
.imageElement--bar-caret-icon{
 left: 11px !important;
}
.logoContainer--mobile-logo{
  position: relative;
    top: 23px;
    right: 15px;
}
}

.skuSelectorSubcontainer,
.skuSelectorNameContainer,
.skuSelectorTextContainer {
  margin: 0;
}
.skuSelectorNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}
.skuSelectorItemImageValue {
  height: 100%;
  width: auto;
  object-fit: contain;
}
.galleryItem--list {
  border: none;
}
.skuSelectorOptionsList {
  margin-left: 10px;
}

.discountInsideContainer {
  border-radius: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.shippingContainer,
.shippingTable {
  margin-bottom: 20px;
}

.backToTopButtonContainer {
  bottom: 70px;
}

/* modal-infocard */
.infoCardContainer--info-card-sale {
  padding: 0px;
  background-color: #fdd601;
}
.infoCardHeadline--info-card-sale {
  color: #731a8e;
  font-weight: bolder;
  font-variant: petite-caps;
}
.infoCardSubhead--info-card-sale {
  color: #e8031f;
  font-weight: bolder;
  font-variant: petite-caps;
}

.imageElement--testIcons {
  padding: 0px 5px;
}
.confirmationText--newsletter {
  color: white;
}
.confirmationTitle--newsletter {
  color: white;
}
/* ========= */
.skuSelectorName {
  display: inline-block;
  min-width: 100px;
}
/* .skuSelectorOptionsList{
justify-content: center;
} */

/* =============== mobile-landscape ====================== */
@media (max-width: 640px) and (orientation: landscape) {
  .skuSelectorName {
    min-width: 60px;
  }
  .skuSelectorItemTextValue {
    font-size: 10px !important;
  }
  .infoCardHeadline--info-card-slide {
    font-size: 20px;
    font-weight: normal;
  }
  .imageElement--store-features-img {
    max-height: 280px !important;
  }
}

/* ======== iphoneX landscape ========= */
@media (max-width: 812px) and (orientation: landscape) {
  .infoCardHeadline--info-card-slide {
    font-size: 20px;
    font-weight: normal;
  }
  .skuSelectorItemTextValue {
    font-size: 10px !important;
  }
}

.infoCardContainer--Electronics,
.infoCardContainer--Equipment,
.infoCardContainer--Exterior,
.infoCardContainer--Interior,
.infoCardContainer--NISMO,
.infoCardContainer--TruckTowing
{
  height: 30vh;
  vertical-align: top;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}

.infoCardContainer--Offers,
.infoCardContainer--Promotions
{
  height: 30vh;
  vertical-align: top;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}

.infoCardTextContainer--Electronics,
.infoCardTextContainer--Equipment,
.infoCardTextContainer--Exterior,
.infoCardTextContainer--Interior,
.infoCardTextContainer--NISMO,
.infoCardTextContainer--TruckTowing,
.infoCardTextContainer--Offers,
.infoCardTextContainer--Promotions
{
  width: 100%;
  height: 50px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  position: relative;
  top: -30px;
}

.infoCardHeadline--Electronics,
.infoCardHeadline--Equipment,
.infoCardHeadline--Exterior,
.infoCardHeadline--Interior,
.infoCardHeadline--NISMO,
.infoCardHeadline--TruckTowing,
.infoCardHeadline--Offers,
.infoCardHeadline--Promotions
{
  font-size: 10px;
  color: red;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.infoCardSubhead--Electronics,
.infoCardSubhead--Equipment,
.infoCardSubhead--Exterior,
.infoCardSubhead--Interior,
.infoCardSubhead--NISMO,
.infoCardSubhead--TruckTowing,
.infoCardSubhead--Offers,
.infoCardSubhead--Promotions
{
  font-size: 7px;
  color: black;
  margin: 0px;
  vertical-align: text-top;
}

/* -----------------nissan pdp page ----------------------*/

.container--availibility {
  margin: auto;
}

.productImage--pdp-img {
  border: 2px solid rgb(235, 234, 234);
  border-radius: 4px;
}

.carouselGaleryThumbs--pdp-img {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
.carouselThumbBorder--pdp-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(235, 234, 234);
  border-right: 1px;
  border-radius: 4px;
  /* margin-right: 2px; */
  object-fit: contain;
}

.productimagesgalleryswipercontainer--pdp-img {
  padding-bottom: 0;
  margin-bottom: 0;
}
.productImagesGallerySlide--pdp-img {
  margin-top: 0;
  margin-bottom: 0;
}

.thumbImg--pdp-img {
  object-fit: contain;
  object-position: center;
  overflow: hidden;
  padding-top: 5px;
}

.imageElement--car {
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid rgb(235, 234, 234);
  border-radius: 2px;
  cursor: pointer;
}

.productDescriptionTitle--product-desc {
  margin-top: 10px;
  font-size: 16px !important;
  font-weight: 700;
  color: black !important;
}

.content--product-desc {
  font-weight: normal !important;
  color: black !important;
  line-height: 1.4;
}

.productBrand--quickview {
  color: #2a2a2b;
  font-weight: bold;
  font-size: 20px !important;
}
.imageElement--fb,
.imageElement--youtube,
.imageElement--twitter,
.imageElement--insta,
.imageElement--pinterest {
  margin-right: 10px;
}
/* ========== Nissan ================= */
.imageElement--nissan-header-image {
  border: 1px #e2e2e2 solid;
  margin-right: 42px;
  margin-top: 20px;
}
.searchBarInnerContainer--nissan-searchbar-one {
  border: 1px solid gray;
  border-radius: 0px;
  position: relative;
  left: 83px;
  top: 4px;
}
.logoImage--nissan-logo {
  position: relative;
  top: 10px;
  left: 55px;
}
.imageElement--bar-caret-icon{
  width: 35px;
  height: 38px;
  position: relative;
  top: 16px;
  left: 224px;
  border: 1px solid gray;
}
/* .imageElement--fb, .imageElement--youtube, .imageElement--twitter, .imageElement--insta, .imageElement--pinterest{
  margin-right: 10px;
}
.container--socialIcons {
  background-color: black;
}

.infoCardHeadline--nissan-accessories {
  font-size: 1rem;
  font-weight: 400;
}

.infoCardCallActionContainer--nissan-accessories {
  display: none;
}

.imageElement--image-container {
  padding-left: 20px;
  margin-top: 10px;
} */

/* .container{
  padding-left: 50px;
  padding-right: 50px;
} */

.wrapper--homepage-spot-banner {
  color: #fff;
}
.infoCardTextContainer--homepage-spot-banner {
  margin: 0;
  padding: 1rem;
}
.headingLevel5--homepage-spot-banner {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  font-size: 15px;
}
.headingLevel3--homepage-spot-banner {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 5px 0;
  font-size: 23px;
}
.paragraph--homepage-spot-banner {
  font-weight: normal;
  font-size: 15px;
  display: inline-block;
  line-height: 16px;
  margin: 10px 0 10px;
}
@media only screen and (min-width: 768px) {
  .infoCardTextContainer--homepage-spot-banner {
    padding: 1rem 2rem 1rem 1rem;
    width: 50%;
    background-color: #000;
  }
}
@media only screen and (max-width: 767px) {
  .headingLevel5--homepage-spot-banner {
    margin-top: 150px;
  }
}