.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

.socialNetworksContainer--social-networks {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 800px;
  justify-content: center;
}
.socialNetworksContainer--social-networks-pdp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.socialNetworkWrapper {
  max-height: 50px;
}

/* =========Tablet & Mobile ============ */
@media only screen and (max-width:1026px){
  .acceptedPaymentMethodContainer{
    justify-content: center;
  }
  .socialNetworksContainer{
    justify-content: center;
  }
}

/* @media only screen and (max-width:480px){
  .socialNetworksContainer--social-networks{
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    min-width: 0 !important;
    justify-content: center !important;
  }
} */
