.back_link {
  position: relative;
  top: 2rem;
  text-decoration-line: none;
  text-align: start;
  margin-left: 3.5rem;
  font-size: 0.97rem;
}
.fd_title {
  display: flex;
  justify-content: center;
  font-variant-caps: petite-caps;
  color: #3f3f40;
  margin: 1rem auto;
  margin-bottom: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.wrapper {
  height: 80vh;
  width: 100vw;
  padding: 10px 16px;
  overflow: hidden;
}

@media (max-width: 480px) {
  .back_link {
    top: 1rem;
    margin-left: 1.5rem;
    font-size: 0.9rem;
  }
  .fd_title {
    margin: 1rem auto;
    margin-bottom: 3px;
  }
  .container {
    height: 90vh;
    width: 100vw;
    margin-bottom: 1rem;
  }
  .wrapper {
    position: relative;
    top: 1rem;
    height: 95vh;
    width: 100vw;
    overflow: scroll;
  }
}
@media (max-width: 1076px) {
  .back_link {
    top: 1.3rem;
    margin-left: 1.8rem;
    font-size: 1rem;
  }
  .container {
    height: 90vh;
    width: 100vw;
    margin-bottom: 1rem;
  }
  .wrapper {
    position: relative;
    top: 1rem;
    height: 95vh;
    width: 100vw;
    overflow: scroll;
  }
}
