.btnestimateShippingWrapper {
    padding-right : 10px;
    }

    .cestimateShipping{
        font-family: NissanBrand;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
        }