/* custom blackfriday  */

.flexRow--hero-banner {
  margin-bottom: 3rem;
  background: #101723;
}

.flexRow--categories-list {
  margin-bottom: 3rem;
}

.flexRowContent--categories-list {
  justify-content: center;
}

.flexRow--customer-service {
  margin: 1rem 0;
}

.flexRow--new-releases {
  margin-bottom: 2rem;
}

@media screen and (max-width: 640px) {
  .flexRow--hero-banner {
    margin-bottom: 2rem;
  }

  .flexRow--new-releases {
    margin-bottom: 0;
  }

  .flexRow--customer-service {
    margin: 0;
  }

  .flexCol--customer-service {
    margin: 0 0 1rem;
  }
}
.flexCol--categories-box-col{
  margin: 0px 10px;
  background-color: #f0efed;
  box-shadow: 0px 2px 6px 2px #cdc8c2;
}



/* =============== mobile-portrait ====================== */
@media (max-width: 640px) {
.flexRowContent--categories-box-row{
  display: block;
}
}

/* =============== mobile-landscape ====================== */
@media (max-width: 640px) and (orientation: landscape) {
  .flexRowContent--categories-box-row{
    display: flex;
  }
}
