* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: sans-serif;
    margin: 0;
}

.textAlignment {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: black;
    font-size: small;
    font-weight: bolder;
    font-family: sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column .imgSize {
    margin-top: 8px;
    vertical-align: middle;
    height: 455px;
    flex: auto;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.imgName {
    text-decoration: none;
    text-align: center;
    background-color: darkred;
    color: whitesmoke;
    font-size: small;
    font-weight: bolder;
    font-family: sans-serif;
    width: 150px;
    height: 30px;
    margin-top: -30px;
    position: absolute;
    float: right;
    justify-content: right;
    padding-top: 5px;
}