.nameContainer--summaryListDesktop {
  padding-top: 0.25rem;
  padding-bottom: 0.75rem;
  justify-content: start;
}

.nameContainer--summaryListMobile {
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  justify-content: start;
}
.nameContainer {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.brandName--summaryListMobile {
  font-weight: 400;
  font-size: 0.875rem;
  color: black;
}

.container--listLayout {
  max-width: none !important;
}

.image--summaryListDesktop {
  width: 180px !important;
}

.image--summaryListMobile {
  width: 140px !important;
  min-width: 140px;
  height: inherit !important;
}


.nameContainer--productNameGrid  :global(.vtex-product-summary-2-x-brandName ){
  font-weight: 600;
  font-size: 18px;
  color: #2e2e2e;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 22px;
}
.nameWrapper--summaryListDesktop {
  max-width: 500px;
}

.skuSelectorContainer {
  margin: 0;
}
.skuSelectorItem {
  height: 20px;
  width: 20px;
}
.skuSelectorInternalBox {
  border: none;
}
.skuSelectorItemTextValue {
  padding: 0;
}
.containerNormal {
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 15%);
  padding: .75rem;
}
.element {
  padding: 0;
}
