.flexRow--orderByAndSwitcher {
  padding-right: 1.5em;
}

.flexRowContent--savingsSummaryListDesktop {
  justify-content: flex-start;
}

.flexCol--summaryRightListDesktop {
  justify-content: space-around;
}

.flexRow--buyNowButton :global(.vtex-button) {
  background: #eef3f7;
  border-color: #eef3f7;
  color: #0f3e99;
}

.flexRow--buyNowButton:hover :global(.vtex-button) {
  background: #dbe9fd;
  border-color: #dbe9fd;
}

.flexCol--productRating {
  margin-bottom: 3rem;
}

.flexCol--summaryDetailsListMobile {
  justify-content: space-between;
}

.flexCol--summaryUpDetailsListMobile {
  margin-bottom: 0.25rem;
}

.flexColChild .flexColChild--productCountCol {
  align-items: center;
  display: flex;
  width:100%;
 }

 .flexRowContent--plpToolBar {
   align-items: center;
   padding: 6px 0;
 }
 .flexRowContent--plpToolBarMobile {
   align-items: center;
 }
 .flexColChild--nissan-connect{
   margin-left: 20px;
 }

 /* .flexRowContent :global(.vtex-flex-layout-0-x-flexRowContent){
  padding-bottom: 21px;
  margin-left: -24px;
  line-height: 21px;
  position: relative;
  top: -26px;
  top:5px;
 } */
 
 .flexRowContent--buttonpdp {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media screen and (max-width: 768px) {
.flexColChild--button-mobile{
  width: fit-content;
} 
}