.flexRow--orderByAndSwitcher {
  padding-right: 1.5em;
}

.flexRowContent--savingsSummaryListDesktop {
  justify-content: flex-start;
}

.flexCol--summaryRightListDesktop {
  justify-content: space-around;
}

.flexRow--buyNowButton :global(.vtex-button) {
  background: #eef3f7;
  border-color: #eef3f7;
  color: #0f3e99;
}

.flexRow--buyNowButton:hover :global(.vtex-button) {
  background: #dbe9fd;
  border-color: #dbe9fd;
}

.flexCol--productRating {
  margin-bottom: 3rem;
}

.flexCol--summaryDetailsListMobile {
  justify-content: space-between;
}

.flexCol--summaryUpDetailsListMobile {
  margin-bottom: 0.25rem;
}

.flexColChild .flexColChild--productCountCol {
  align-items: center;
  display: flex;
  width:100%;
 }

 .flexRowContent--plpToolBar {
   align-items: center;
   padding: 6px 0;
 }
 .flexRowContent--plpToolBarMobile {
   align-items: center;
 }

 /* .flexRowContent :global(.vtex-flex-layout-0-x-flexRowContent){
  padding-bottom: 21px;
  margin-left: -24px;
  line-height: 21px;
  position: relative;
  top: -26px;
  top:5px;
 } */
 
 .flexRowContent--buttonpdp {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media screen and (max-width: 768px) {
.flexColChild--button-mobile{
  width: fit-content;
} 
}
.flexColChild--sku-name, .flexColChild--sku-price, .flexColChild--sku-inventory, .flexColChild--quant-selector, .flexColChild--sku-image{
  display: flex;
  justify-content: center;
}
.flexRow--sku-name{
  display: flex;
}
.flexColChild--sku-spec{
  height: auto;
  padding-top: 0px;
  margin-top: -15px;
}
@media screen and (max-width: 768px) {
.stretchChildrenWidth{
  flex-direction: column;
}
}
  .stretchChildrenWidth{
    flex-direction: column;
  }
  @media only screen and (min-width : 992px) {
  .flexRow--sku-desc{
    margin-top: -40px;
  }
  }
.flexRowContent--sku-desc{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.flexColChild--sku-specifications{
  display: flex;
  justify-content: center;
}
.flexRowContent--disclosure-spec{
  margin-bottom: 20px;
  padding-left: 160px;
}
@media screen and (max-width: 768px) {
  .flexRowContent--disclosure-spec{
    margin-bottom: 20px;
    padding-left: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .flexRowContent--disclosure-spec{
    margin-bottom: 20px;
    padding-left: 80px;
  }
  .stretchChildrenWidth{
    flex-direction: column;
  }
  .flexColChild--sku-name{
    display: flex;
    justify-content: center;
  }
  .flexColChild--sku-spec{
    margin-left: -60px;
  }
}